{
    "environment": "development",
    "production": {
        "ENVIRONMENT": "production",
        "BASE_URL": "https://example.com",
        "PORT": "3000"
    },
    "development": {
        "ENVIRONMENT": "development",
        "BASE_URL": "http://localhost:3000",
        "PORT": "3000"
    },
    "test": {
        "ENVIRONMENT": "test",
        "BASE_URL": "http://localhost:3001",
        "PORT": "3001"
    }
}