package auth

import (
	"go-on-rails/common"
	"strconv"
	"strings"
	"time"
)

type Messages struct {
	Success string
	Error   string
}

templ signup_page(messages Messages) {
	@common.Base("Signup") {
		<main class="container mx-auto px-4 py-4 space-y-2">
			<h1 class="font-bold text-2xl">Signup</h1>
			<div class="bg-green-200 dark:bg-green-900 dark:text-green-200 empty:hidden p-4 rounded-md text-green-600">
				{ common.TernaryIf(messages.Success != "", "🟢 " + messages.Success, "") }
			</div>
			<div class="bg-red-200 dark:bg-red-900 dark:text-red-200 empty:hidden p-4 rounded-md text-red-600">
				{ common.TernaryIf(messages.Error != "", "🔴 " + messages.Error, "") }
			</div>
			<form
				class="space-y-2"
				action="/signup"
				method="post"
			>
				<div>
					<label class="block" for="email">
						Email
						<br/>
						<span class="dark:text-gray-400 text-gray-500 text-sm">Make sure to use a valid email address.</span>
					</label>
					<input class="block border-2 border-gray-300 dark:bg-gray-700 dark:border-gray-600 p-2 rounded-md w-full" type="text" name="email" id="email"/>
				</div>
				<div>
					<label class="block" for="password">
						Password
						<br/>
						<span class="dark:text-gray-400 text-gray-500 text-sm">Password must be at least 6 characters long.</span>
					</label>
					<input class="block border-2 border-gray-300 dark:bg-gray-700 dark:border-gray-600 p-2 rounded-md w-full" type="password" name="password" id="password"/>
				</div>
				<div>
					<label class="block" for="code">
						Code 
						<br/>
						<span class="dark:text-gray-400 text-gray-500 text-sm">
							If first setup, use "FRESH". If not, use the code you received from the admin.
						</span>
					</label>
					<input class="block border-2 border-gray-300 dark:bg-gray-700 dark:border-gray-600 p-2 rounded-md w-full" type="text" name="code" id="code"/>
				</div>
				<button class="bg-blue-500 duration-300 hover:bg-blue-600 p-2 rounded-md text-white transition-colors">
					Signup
				</button>
				<p>
					Already have an account? <a href="/login" class="hover:underline text-blue-500">Login</a>
				</p>
			</form>
		</main>
	}
}

templ login_page(messages Messages) {
	@common.Base("Login") {
		<main class="container mx-auto px-4 py-4 space-y-2">
			<h1 class="font-bold text-2xl">Login</h1>
			<div class="bg-green-200 dark:bg-green-900 dark:text-green-200 empty:hidden p-4 rounded-md text-green-600">
				{ common.TernaryIf(messages.Success != "", "🟢 " + messages.Success, "") }
			</div>
			<div class="bg-red-200 dark:bg-red-900 dark:text-red-200 empty:hidden p-4 rounded-md text-red-600">
				{ common.TernaryIf(messages.Error != "", "🔴 " + messages.Error, "") }
			</div>
			<form
				class="space-y-2"
				action="/login"
				method="post"
			>
				<div>
					<label class="block" for="email">
						Email
						<br/>
						<span class="dark:text-gray-400 text-gray-500 text-sm">Make sure to use a valid email address.</span>
					</label>
					<input class="block border-2 border-gray-300 dark:bg-gray-700 dark:border-gray-600 p-2 rounded-md w-full" type="text" name="email" id="email"/>
				</div>
				<div>
					<label class="block" for="password">
						Password
						<br/>
						<span class="dark:text-gray-400 text-gray-500 text-sm">Password must be at least 6 characters long.</span>
					</label>
					<input class="block border-2 border-gray-300 dark:bg-gray-700 dark:border-gray-600 p-2 rounded-md w-full" type="password" name="password" id="password"/>
				</div>
				<button class="bg-blue-500 duration-300 hover:bg-blue-600 p-2 rounded-md text-white transition-colors">
					Login
				</button>
				<p>
					<a href="/forgot-password" class="hover:underline text-blue-500">Forgot password?</a>
				</p>
				<p>
					Don't have an account? <a href="/signup" class="hover:underline text-blue-500">Signup</a>
				</p>
			</form>
		</main>
	}
}

templ profile_page(messages Messages, user UserMetadata) {
	@common.Base("Profile") {
		<main class="container mx-auto px-4 py-4 space-y-2">
			<h1 class="font-bold text-2xl">Profile</h1>
			<div class="bg-green-200 dark:bg-green-900 dark:text-green-200 empty:hidden p-4 rounded-md text-green-600">
				{ common.TernaryIf(messages.Success != "", "🟢 " + messages.Success, "") }
			</div>
			<div class="bg-red-200 dark:bg-red-900 dark:text-red-200 empty:hidden p-4 rounded-md text-red-600">
				{ common.TernaryIf(messages.Error != "", "🔴 " + messages.Error, "") }
			</div>
			<p>You are logged in as <u>{ user.Email }</u></p>
			<p>Are you an admin? <a href="/admin" class="hover:underline text-blue-500">Go to admin</a></p>
			<form
				action="/change-password"
				method="post"
				class="border border-gray-300 dark:bg-gray-900 dark:border-gray-600 p-4 rounded-md shadow-md space-y-4"
			>
				<p>
					Change your password here.
				</p>
				<div class="flex flex-col gap-2">
					<label for="password">Current Password</label>
					<input type="password" name="password" id="password" class="border-2 border-gray-300 dark:bg-gray-800 dark:border-gray-600 p-2 rounded-md"/>
				</div>
				<div class="flex flex-col gap-2">
					<label for="new-password">New Password</label>
					<input type="password" name="new-password" id="new-password" class="border-2 border-gray-300 dark:bg-gray-800 dark:border-gray-600 p-2 rounded-md"/>
				</div>
				<div class="flex flex-col gap-2">
					<label for="confirm-password">Confirm Password</label>
					<input type="password" name="confirm-password" id="confirm-password" class="border-2 border-gray-300 dark:bg-gray-800 dark:border-gray-600 p-2 rounded-md"/>
				</div>
				<button class="bg-blue-500 duration-300 hover:bg-blue-600 p-2 rounded-md text-white transition-colors">
					Change Password
				</button>
			</form>
			<div class="flex justify-end">
				<a href="/logout" class="duration-300 hover:bg-red-500 hover:text-white p-2 rounded-md text-red-500 transition-colors">Logout</a>
			</div>
		</main>
	}
}

templ forgot_password_page(messages Messages) {
	@common.Base("Forgot Password") {
		<main class="container mx-auto px-4 py-4 space-y-2">
			<h1 class="font-bold text-2xl">Forgot Password</h1>
			<div class="bg-green-200 dark:bg-green-900 dark:text-green-200 empty:hidden p-4 rounded-md text-green-600">
				{ common.TernaryIf(messages.Success != "", "🟢 " + messages.Success, "") }
			</div>
			<div class="bg-red-200 dark:bg-red-900 dark:text-red-200 empty:hidden p-4 rounded-md text-red-600">
				{ common.TernaryIf(messages.Error != "", "🔴 " + messages.Error, "") }
			</div>
			<form
				class="space-y-2"
				action="/forgot-password"
				method="post"
			>
				<div>
					<label class="block" for="email">
						Email
						<br/>
						<span class="dark:text-gray-400 text-gray-500 text-sm">Make sure to use a valid email address.</span>
					</label>
					<input class="block border-2 border-gray-300 dark:bg-gray-700 dark:border-gray-600 p-2 rounded-md w-full" type="text" name="email" id="email"/>
				</div>
				<button class="bg-blue-500 duration-300 hover:bg-blue-600 p-2 rounded-md text-white transition-colors">
					Reset Password
				</button>
				<p>
					Remembered your password? <a href="/login" class="hover:underline text-blue-500">Login</a>
				</p>
			</form>
		</main>
	}
}

templ reset_password_page(messages Messages, token string) {
	@common.Base("Reset Password") {
		<main class="container mx-auto px-4 py-4 space-y-2">
			<h1 class="font-bold text-2xl">Reset Password</h1>
			<div class="bg-green-200 dark:bg-green-900 dark:text-green-200 empty:hidden p-4 rounded-md text-green-600">
				{ common.TernaryIf(messages.Success != "", "🟢 " + messages.Success, "") }
			</div>
			<div class="bg-red-200 dark:bg-red-900 dark:text-red-200 empty:hidden p-4 rounded-md text-red-600">
				{ common.TernaryIf(messages.Error != "", "🔴 " + messages.Error, "") }
			</div>
			<form
				class="space-y-2"
				action="/reset-password"
				method="post"
			>
				<input type="hidden" name="token" value={ token }/>
				<div>
					<label class="block" for="email">
						Email
						<br/>
						<span class="dark:text-gray-400 text-gray-500 text-sm">Make sure to use a valid email address.</span>
					</label>
					<input class="block border-2 border-gray-300 dark:bg-gray-700 dark:border-gray-600 p-2 rounded-md w-full" type="text" name="email" id="email"/>
				</div>
				<div>
					<label class="block" for="password">New Password</label>
					<input class="block border-2 border-gray-300 dark:bg-gray-700 dark:border-gray-600 p-2 rounded-md w-full" type="password" name="password" id="password"/>
				</div>
				<button class="bg-blue-500 duration-300 hover:bg-blue-600 p-2 rounded-md text-white transition-colors">
					Reset Password
				</button>
			</form>
		</main>
	}
}

type SMTPSettings struct {
	Host     string
	Port     string
	Username string
	Password string
}

type admin_props struct {
	Me           UserMetadata
	Messages     Messages
	Users        []UserMetadata
	SignupCodes  []SignupCode
	SMTPSettings SMTPSettings
}

templ admin_page(props admin_props) {
	@common.Base("Admin") {
		<div class="container flex flex-col md:flex-row md:gap-4 mx-auto">
			<main class="dark:divide-gray-600 divide-gray-200 divide-y md:flex-1 md:order-1 order-2 px-4 py-4 space-y-6">
				<section class="py-4 space-y-2">
					<h1 class="font-bold text-2xl">Users</h1>
					<div class="bg-green-200 dark:bg-green-900 dark:text-green-200 empty:hidden p-4 rounded-md text-green-600">
						{ common.TernaryIf(props.Messages.Success != "", "🟢 " + props.Messages.Success, "") }
					</div>
					<div class="bg-red-200 dark:bg-red-900 dark:text-red-200 empty:hidden p-4 rounded-md text-red-600">
						{ common.TernaryIf(props.Messages.Error != "", "🔴 " + props.Messages.Error, "") }
					</div>
					if len(props.Users) == 0 {
						<div class="bg-red-200 dark:bg-red-900 dark:text-red-200 p-4 rounded-md text-red-600">
							<p>No users found.</p>
						</div>
					} else {
						<table class="table-auto w-full">
							<thead>
								<tr class="bg-gray-100 dark:bg-gray-800">
									<th class="border border-gray-200 dark:border-gray-600 p-1">ID</th>
									<th class="border border-gray-200 dark:border-gray-600 p-1">Email</th>
									<th class="border border-gray-200 dark:border-gray-600 p-1">Created At</th>
									<th class="border border-gray-200 dark:border-gray-600 p-1">Actions</th>
								</tr>
							</thead>
							<tbody>
								for _, user := range props.Users {
									<tr class="dark:even:bg-gray-700 dark:odd:bg-gray-800 even:bg-gray-50 odd:bg-white">
										<td class="border border-gray-200 dark:border-gray-600 p-1">{ strconv.Itoa(user.ID) }</td>
										<td class="border border-gray-200 dark:border-gray-600 p-1">
											{ user.Email }
											if props.Me.ID == user.ID {
												(you)
											}
										</td>
										<td class="border border-gray-200 dark:border-gray-600 p-1">{ user.CreatedAt.Format(time.RFC822) }</td>
										<td class="border border-gray-200 dark:border-gray-600 p-1">
											<a href={ templ.SafeURL("/admin/users/" + strconv.Itoa(user.ID)) } class="hover:underline text-blue-500">Show</a>
										</td>
									</tr>
								}
							</tbody>
						</table>
					}
				</section>
				<section class="py-4 space-y-2">
					<h2 class="font-bold text-2xl">Signup Codes</h2>
					<table class="table-auto w-full">
						<thead class="bg-gray-100 dark:bg-gray-800">
							<tr class="bg-gray-100 dark:bg-gray-800">
								<th class="border border-gray-200 dark:border-gray-600 p-1">Code</th>
								<th class="border border-gray-200 dark:border-gray-600 p-1">Left Uses</th>
								<th class="border border-gray-200 dark:border-gray-600 p-1">Created At</th>
								<th class="border border-gray-200 dark:border-gray-600 p-1">Actions</th>
								if len(props.SignupCodes)> 0 {
									<th class="border border-gray-200 dark:border-gray-600 p-1">
										<input
											type="checkbox"
											name="select-all"
											id="select-all"
										/>
									</th>
								}
							</tr>
						</thead>
						<tbody>
							if len(props.SignupCodes) == 0 {
								<tr class="dark:even:bg-gray-700 dark:odd:bg-gray-800 even:bg-gray-50 odd:bg-white">
									<td class="border border-gray-200 dark:border-gray-600 p-1" colspan="5">No signup codes found.</td>
								</tr>
							} else {
								for _, code := range props.SignupCodes {
									<tr class="dark:even:bg-gray-700 dark:odd:bg-gray-800 even:bg-gray-50 odd:bg-white">
										<td class="border border-gray-200 dark:border-gray-600 p-1">{ strings.ToUpper(code.Code) }</td>
										<td class="border border-gray-200 dark:border-gray-600 p-1">{ strconv.Itoa(code.Uses) }</td>
										<td class="border border-gray-200 dark:border-gray-600 p-1">{ code.CreatedAt.Format(time.RFC822) }</td>
										<td class="border border-gray-200 dark:border-gray-600 p-1">
											<a
												class="hover:underline text-blue-500"
												href={ templ.SafeURL("/admin/signup-codes/" + strings.ToLower(code.Code)) }
											>
												Edit
											</a>
										</td>
										if code.Uses > 0 {
											<td class="border border-gray-200 dark:border-gray-600 p-1 text-center">
												<input
													type="checkbox"
													name="code-checkbox"
													value={ code.Code }
												/>
											</td>
										}
									</tr>
								}
							}
						</tbody>
					</table>
					<div class="flex gap-2 py-2">
						<a class="hover:underline text-blue-500" href="/admin/signup-codes/new">New code</a>
						if len(props.SignupCodes) > 0 {
							<form action="/admin/signup-codes/delete" method="post">
								<input type="hidden" name="codes" id="codes" value=""/>
								<button class="bg-red-500 duration-300 hover:bg-red-600 p-2 rounded-md text-white transition-colors">
									Delete selected
								</button>
							</form>
						}
					</div>
					@common.Script("checkboxes.js")
				</section>
				<section class="py-4 space-y-2">
					<h2 class="font-bold text-2xl">SMTP (Mailer) Settings</h2>
					<p>
						You can change the SMTP settings here. If you leave the fields empty, 
						the app will avoid sending emails and you'll get an error in the logs.
					</p>
					<form action="/admin/smtp" method="post" class="border border-gray-300 dark:bg-gray-900 dark:border-gray-600 p-4 rounded-md shadow-md space-y-4">
						<div>
							<label class="block" for="host">Host</label>
							<input class="block border-2 border-gray-300 dark:bg-gray-700 dark:border-gray-600 p-2 rounded-md w-full" type="text" name="host" id="host" value={ props.SMTPSettings.Host }/>
						</div>
						<div>
							<label class="block" for="port">Port</label>
							<input class="block border-2 border-gray-300 dark:bg-gray-700 dark:border-gray-600 p-2 rounded-md w-full" type="text" name="port" id="port" value={ props.SMTPSettings.Port }/>
						</div>
						<div>
							<label class="block" for="username">Username</label>
							<input class="block border-2 border-gray-300 dark:bg-gray-700 dark:border-gray-600 p-2 rounded-md w-full" type="text" name="username" id="username" value={ props.SMTPSettings.Username }/>
						</div>
						<div>
							<label class="block" for="password">Password</label>
							<input class="block border-2 border-gray-300 dark:bg-gray-700 dark:border-gray-600 p-2 rounded-md w-full" type="password" name="password" id="password" value={ props.SMTPSettings.Password }/>
						</div>
						<button class="bg-blue-500 duration-300 hover:bg-blue-600 p-2 rounded-md text-white transition-colors">
							Update SMTP Settings
						</button>
					</form>
				</section>
			</main>
			<aside class="dark:md:border-gray-600 md:border-gray-200 md:border-l md:order-2 md:pl-6 md:w-1/4 order-1 px-4 py-4 space-y-2">
				<h2 class="font-bold text-xl">Welcome!</h2>
				<p>Hi, <strong>{ props.Me.Email }</strong>.</p>
				<p>
					This is the admin page, it allows you to manage users, signup codes and all things related to the app.
				</p>
				<p>
					You can also logout if you're done using the button below.
				</p>
				<a class="bg-red-500 duration-3000 hover:bg-red-600 p-2 rounded-md text-white transition-colors" href="/logout">
					Logout
				</a>
			</aside>
		</div>
	}
}

templ user_page(user UserMetadata, messages Messages, newPassword string) {
	@common.Base("Admin - User") {
		<main class="container mx-auto px-4 py-4 space-y-2">
			<div class="bg-green-200 dark:bg-green-900 dark:text-green-200 empty:hidden p-4 rounded-md text-green-600">
				{ common.TernaryIf(messages.Success != "", "🟢 " + messages.Success, "") }
			</div>
			<div class="bg-red-200 dark:bg-red-900 dark:text-red-200 empty:hidden p-4 rounded-md text-red-600">
				{ common.TernaryIf(messages.Error != "", "🔴 " + messages.Error, "") }
			</div>
			<h1 class="font-bold text-2xl">Admin - User</h1>
			<p>
				You are looking at the user <strong>{ user.Email }</strong>.
			</p>
			if newPassword != "" {
				<div class="border border-gray-300 dark:bg-gray-900 dark:border-gray-600 p-4 rounded-md shadow-md space-y-4">
					<p>
						New password: <strong>{ newPassword }</strong>
					</p>
					<p>
						You can share this password with the user. They should change it after logging in.
					</p>
				</div>
			} else {
				<form
					hx-post={ "/admin/users/" + strconv.Itoa(user.ID) + "/reset-password" }
					hx-swap="outerHTML"
					action={ templ.SafeURL("/admin/users/" + strconv.Itoa(user.ID) + "/reset-password") }
					method="post"
					class="border border-gray-300 dark:bg-gray-900 dark:border-gray-600 p-4 rounded-md shadow-md space-y-4"
				>
					<p>
						You can reset the user's password here. You'll get a new random password in here
						which you can share with the user. Remind them to change it after logging in.
					</p>
					<button class="bg-blue-500 duration-300 hover:bg-blue-600 p-2 rounded-md text-white transition-colors">
						Reset Password
					</button>
				</form>
			}
		</main>
	}
}

templ new_signup_codes_page(messages Messages) {
	@common.Base("Admin - New Signup Code") {
		<main class="container mx-auto px-4 py-4 space-y-2">
			<h1 class="font-bold text-2xl">Admin - New Signup Code</h1>
			<div class="bg-green-200 dark:bg-green-900 dark:text-green-200 empty:hidden p-4 rounded-md text-green-600">
				{ common.TernaryIf(messages.Success != "", "🟢 " + messages.Success, "") }
			</div>
			<div class="bg-red-200 dark:bg-red-900 dark:text-red-200 empty:hidden p-4 rounded-md text-red-600">
				{ common.TernaryIf(messages.Error != "", "🔴 " + messages.Error, "") }
			</div>
			<form
				class="space-y-2"
				action="/admin/signup-codes"
				method="post"
			>
				<div>
					<label class="block" for="code">
						Code
						<br/>
						<span class="dark:text-gray-400 text-gray-500 text-sm">The code to use to sign up.</span>
					</label>
					<input class="block border-2 border-gray-300 dark:bg-gray-700 dark:border-gray-600 p-2 rounded-md w-full" type="text" name="code" id="code"/>
				</div>
				<div>
					<label class="block" for="uses">
						Uses
						<br/>
						<span class="dark:text-gray-400 text-gray-500 text-sm">How many times can this code be used?</span>
					</label>
					<input class="block border-2 border-gray-300 dark:bg-gray-700 dark:border-gray-600 p-2 rounded-md w-full" type="text" name="uses" id="uses"/>
				</div>
				<button class="bg-blue-500 duration-300 hover:bg-blue-600 p-2 rounded-md text-white transition-colors">
					Create Code
				</button>
			</form>
		</main>
	}
}

templ edit_signup_codes_page(messages Messages, code SignupCode) {
	@common.Base("Admin - Edit Signup Code") {
		<main class="container mx-auto px-4 py-4 space-y-2">
			<a href="/admin" class="hover:underline text-blue-500">Back to Admin</a>
			<h1 class="font-bold text-2xl">Admin - Edit Signup Code</h1>
			<div class="bg-green-200 dark:bg-green-900 dark:text-green-200 empty:hidden p-4 rounded-md text-green-600">
				{ common.TernaryIf(messages.Success != "", "🟢 " + messages.Success, "") }
			</div>
			<div class="bg-red-200 dark:bg-red-900 dark:text-red-200 empty:hidden p-4 rounded-md text-red-600">
				{ common.TernaryIf(messages.Error != "", "🔴 " + messages.Error, "") }
			</div>
			<form
				class="space-y-2"
				action={ templ.SafeURL("/admin/signup-codes/" + code.Code) }
				method="post"
			>
				<div>
					<label class="block" for="code">
						Code
						<br/>
						<span class="dark:text-gray-400 text-gray-500 text-sm">The code to use to sign up.</span>
					</label>
					<input
						class="block border-2 border-gray-300 dark:bg-gray-700 dark:border-gray-600 dark:disabled:bg-gray-800 dark:disabled:border-gray-600 disabled:bg-gray-200 disabled:border-gray-200 disabled:opacity-50 p-2 rounded-md w-full"
						type="text"
						disabled
						name="code"
						id="code"
						value={ code.Code }
					/>
				</div>
				<div>
					<label class="block" for="uses">
						Uses
						<br/>
						<span class="dark:text-gray-400 text-gray-500 text-sm">How many times can this code be used?</span>
					</label>
					<input
						class="block border-2 border-gray-300 dark:bg-gray-700 dark:border-gray-600 p-2 rounded-md w-full"
						type="text"
						name="uses"
						id="uses"
						value={ strconv.Itoa(code.Uses) }
					/>
				</div>
				<button class="bg-blue-500 duration-300 hover:bg-blue-600 p-2 rounded-md text-white transition-colors">
					Update Code
				</button>
			</form>
			<form action={ templ.SafeURL("/admin/signup-codes/delete/" + code.Code) } method="post">
				<button class="bg-red-500 duration-300 hover:bg-red-600 p-2 rounded-md text-white transition-colors">
					Delete Code
				</button>
			</form>
		</main>
	}
}
